.chapters-section{
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1rem;
}

.chapter {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid white;

    &:hover {
        background-color: #f0f0f0;

        .chapter-name {
            color: black;
        }
    }
}

.chapter-name {
    font-size: 32px;
}

.read {
    background-color: green;
}
