.card {
    width: 700px;
    margin: auto;
    overflow: hidden;
    padding: 1rem;
}

.plan-selector{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    overflow: hidden;
}

.gray {
    color: gray !important;
}

.read {
    text-decoration: line-through;
}

.day:hover {
    background: gray;
}
