<div [ngClass]="utils.isMobile() ? 'container-mobile' : 'container'">
    <div class="w-100 mt-5 flex flex-column align-items-center gap-3 justify-content-center" [ngClass]="{'mobile': utils.isMobile()}">
        <div class="flex align-items-center" [ngClass]="{'gap-3': !utils.isMobile(), 'mt-5 flex-column': utils.isMobile()}">
            <label for="start-date">Data de început:</label>
            @if (utils.isMobile()) {
                <br/>
            }
            <p-datepicker [(ngModel)]="startDate" dateFormat="dd/mm/yy" placeholder="dd/mm/yyyy" pInputMask="99/99/9999" (ngModelChange)="setStartDate($event)"></p-datepicker>
        </div>
        <div class="flex align-items-center" [ngClass]="{'gap-3': !utils.isMobile(), 'mt-3 flex-column': utils.isMobile()}">
            <label for="number-of-months">Numărul de luni:</label>
            @if (utils.isMobile()) {
                <br/>
            }
            <input id="number-of-months" type="number" min="1" pInputText [ngModel]="months" (ngModelChange)="setMonths($event)"
                autocomplete="off" />
        </div>
        <div class="mt-6">
            <button pButton (click)="resetProgress()" severity="danger" onkeydown="">Reset Progress</button>
        </div>
    </div>
</div>

<p-dialog header="Reset Progress" [modal]="true" [(visible)]="resetConfirmationVisible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Ești sigur că vrei să resetezi progresul?</span>
    <div class="flex justify-end gap-2">
        <button pButton label="Anulează" (click)="resetConfirmationVisible = false" onkeydown=""></button>
        <button pButton label="Confirmă" severity="danger" (click)="confirmResetProgress()" onkeydown=""></button>
    </div>
</p-dialog>
