.cards-section {
  width: 900px;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  row-gap: 1rem;

  .book {
    flex: 0 0 25%;
    padding-inline: 0.5rem; 
  }
}

.cards-section-mobile {
  @extend .cards-section;

  width: 100%;

  .book {
    flex: 0 0 33.33%;
  }
}

.filters {
    width: 900px;
    margin: auto;
    margin-top: 1rem;
}

.filters-mobile {
    @extend .filters;

    width: 100%;
    padding-inline: 1rem;
}

.plan-selector{
  width: 900px;
  margin: auto;
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
}

.plan-selector-mobile{
  @extend .plan-selector;

  width: 100%;
  padding-inline: 1rem;
}

.plan-selector-button {
  flex: 1;
}
