.cards-section {
  width: 700px;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;

  .book {
    flex: 0 0 23%;
  }
}

.filters {
    width: 700px;
    margin: auto;
    margin-top: 1rem;
}

.plan-selector{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    overflow: hidden;
}
