<div [ngClass]="utils.isMobile() ? 'container-mobile' : 'container'">
    <div class="mt-3 flex justify-content-between w-100 align-items-center px-3">
        <p-button label="Back" severity="secondary" (onClick)="goBack()"><i class="pi pi-arrow-left"></i></p-button>

        @if (utils.isMobile()) {
            @if (utils.isEntireDayRead(book()?.chapters ?? [])) {
                <p-button label="Mark All as Unread" severity="danger" (onClick)="utils.markAllAsUnread(book()?.chapters ?? [])"></p-button>
            } @else {
                <p-button label="Mark All as Read" (onClick)="utils.markAllAsRead(book()?.chapters ?? [])"></p-button>
            }
        }
    </div>
    <div [ngClass]="utils.isMobile() ? 'chapters-section-mobile' : 'chapters-section'">
        @if (!utils.isMobile()) {
            @if (utils.isEntireDayRead(book()?.chapters ?? [])) {
                <p-button label="Mark All as Unread" severity="danger" (onClick)="utils.markAllAsUnread(book()?.chapters ?? [])"></p-button>
            } @else {
                <p-button label="Mark All as Read" (onClick)="utils.markAllAsRead(book()?.chapters ?? [])"></p-button>
            }
        }

        @for (chapter of book()?.chapters ?? []; track $index) {
            <div class="flex gap-2 align-items-center chapter" (click)="utils.toggleChapter(chapter)" onkeydown="" [ngClass]="{'read': utils.isChapterRead(chapter)}">
                <p-check-box [binary]="true" [ngModel]="utils.isChapterRead(chapter)"></p-check-box>
                <span class="chapter-name">{{ chapter }}</span>
            </div>
        }
    </div>
</div>
