.p-button {
  border: none !important;
}

.plan-selector-button {
    .p-button{
        background-color: white !important;
        border-radius: 0 !important;
        border: none !important;
        width: 300px;
    }

  &:first-child {
    .p-button {
      border-top-left-radius: 15px !important;
      border-bottom-left-radius: 15px !important;
    }
  }

  &:last-child {
    .p-button {
      border-top-right-radius: 15px !important;
      border-bottom-right-radius: 15px !important;
    }
  }
}

.plan-selector-button.selected {
    .p-button {
        background-color: gray !important;
        color: white !important;
    }
}

.logout .p-button {
    background-color: white !important;
}
