@use "primeicons/primeicons.css";
@use "primeflex/primeflex.css";
@use "app/shared/overrides/overrides.scss";

body {
    margin: 0;
}

.container {
    height: calc(100dvh - 85px - 18px);
    width: 100%;
    overflow: auto;
}

.container-mobile {
    height: calc(100dvh - 85px);
    width: 100%;
    overflow: auto;
}
