<div class="container">
    <div class="plan-selector">
        @for (tab of tabs; track tab) {
            <p-button (click)="selectedTab.set(tab)" onkeydown="" class="plan-selector-button" [ngClass]="{'selected': selectedTab() === tab}">{{ tab }}</p-button>
        }
    </div>
    <div class="details w-100">
        <div class="flex justify-content-center w-100">
            @if (currentStatus() > 0) {
                <p class="status positive">Ești cu {{ currentStatus() }} zile citite înainte!</p>
            } @else if (currentStatus() < 0) {
                <p class="status negative">Ești cu {{ (currentStatus() * -1) }} zile citite în urmă!</p>
            } @else {
                <p class="status neutral">Ești la zi cu planul de citire!</p>
            }
        </div>
    </div>

    <div class="card">
        <p-accordion [multiple]="true">
            @for (tab of weeks(); track tab.week) {
                <p-accordion-panel [value]="tab.week">
                    <p-accordion-header (click)="addWeekToOpen(tab.week)" onkeydown="">
                        <div class="w-full flex justify-content-between pr-5 cursor-pointer">
                            <span>{{ 'Săptămâna ' + tab.week + ' - ' + utils.countDaysReadInAWeek(tab) + '/' + tab.days.length + ' zile complete'}}</span>
                            <span class="w-6 text-right gray">{{tab.label}}</span>
                        </div>
                    </p-accordion-header>
                    <p-accordion-content >
                        @if (openWeeks().includes(tab.week)) {
                            @for (day of tab.days; track day.label) {
                                <div class="flex gap-2 align-items-center mb-2 day cursor-pointer" [ngClass]="{'read': utils.isEntireDayRead(day.chapters)}" (click)="utils.setEntireDayRead(day.chapters)" onkeydown="">
                                    <p-checkbox [binary]="true" [ngModel]="utils.isEntireDayRead(day.chapters)"></p-checkbox>
                                    <p class="m-0">{{ day.label }}</p>
                                </div>
                            }
                        }
                    </p-accordion-content>
                </p-accordion-panel>
            }
        </p-accordion>
    </div>
</div>
