.book-card {
    position: relative;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 30px;

    .icon {
        width: 100%;
        object-fit: cover;
        display: flex;
        justify-content: center;
        overflow: hidden;
        border-top-left-radius: 28px;
        border-top-right-radius: 28px;
        padding: 1rem;

        img {
            width: 80%;
            aspect-ratio: 2/1.5;
            filter: invert(1);
        }
    }

    .book-info {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.book-card:hover {
    background-color: white;

    .icon {
        img {
            filter: invert(0);
        }
    }

    .book-info h3 {
        color: black;
    }
}

.completed {
    background-color: green;
}

.check {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

    i {
        font-size: 2rem;
        border: 3px solid black;
        padding: 0.5rem;
        border-radius: 50%;
    }
}

.mobile h3 {
    font-size: 16px;
    word-break: break-all;
}
